.card{
  position: relative;
  width: 390px;
  height: 542px;
}

.container{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg{
  margin-top: 40px;
}

h2 {
  font-weight: 700;
  font-size: 24.5424px;
  line-height: 33px;
  color: black;
}

p {
  font-weight: 400;
  font-size: 18.4068px;
  line-height: 22px;
  text-align: justify;
}

button {
  display: none;
  margin: auto;
  padding: 10px 16px;
  width: 295px;
  height: 48px;
  color: white;
  background: #da2348;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.container:hover button{
  display: block !important;
}
