img {
  width: 390px;
  height: 542px;
  aspect-ratio: initial;
  border-radius: 20px;
}

.vector1 {
  position: absolute;
  width: 391px;
  height: 170.77px;
  left: 0px;
  top: 375.23px;

  /* White */

  background: #fdfdfd;
}
