.vector1 {
  position: absolute;
  z-index: 2;
  width: 391px;
  height: 170.77px;
  left: 0px;
  top: 375.23px;

  /* White */

  background: #fdfdfd;
}

.vector2 {
  position: absolute;
  width: 388.95px;
  height: 170.77px;
  left: 2.05px;
  top: 365px;

  background: #ff0000;
  z-index: 1;
}

.vector1 h1 {
  font-weight: 700;
  font-size: 24.5424px;
  line-height: 33px;
  color:black;
}

.vector2 p {
  font-weight: 400;
  font-size: 18.4068px;
  line-height: 22px;
  text-align: justify;
}
