body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1213px;
  height: 1297px;
  left: 149px;
  top: 51px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.intro h1 {
  width: 652px;
  height: 48px;
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #da2348;
}

.intro p {
  width: 517px;
  height: 44px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

/* .cards {
  width: 1213px;
  height: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
} */

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 60px;

  position: absolute;
  width: 1213px;
  height: 1150px;
  left: 0px;
  top: 147px;
}